@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


html{
    font-size: 80%;
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    line-height: 1.6;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(75, 75, 75);
}
.logo{
    width: 300px;
    float: left;
    margin: 1%;

 }
 .img{
    background-color: #740001;
 }

.presentacion{
    height: 500px;
    width: 60%;
    display: flex;
    margin: auto;
    border-radius:7px ;
    box-shadow: 0px 14px 32px 0px rgba(0,0,0,0,5);
    overflow: hidden;
    box-sizing: border-box;
}

.presentacion .img{
    width: 60%;
}

.presentacion .img img{
    width: 100%;
    vertical-align: top;
}
/*Color de fondo de texto*/
.producto-info{
    width: 70%;
    border-radius: 0.8px 11px 8px;
    background-color: #969c9b;
}

.producto-texto{
    width: 100%;
    
}
.producto-texto h1 {
    margin-left: 38px;
    padding-top: 30px;
    font-size: 34px;
    color: #000000;
}

.producto-texto h1{
    font-family: 'Dancing Script', cursive;

}
.producto-texto h2{
    margin: 0 0 30px 30px;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    color:#000000;
    letter-spacing:.1em;
}

.producto-texto p{
    height: 100px;
    margin-left: 20px;
    font-family: serif;
    color: #000000;
    line-height: 1.7em;
    text-align: justify;
}






 /* menu */
#menu{
    display:flex;
    align-items:center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: rgb(109, 109, 109);
    height: 150px;
}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
/* items del menu */
#menu ul li{
    background-color: rgb(175, 175, 175);
    /* background-color: rgb(135, 142, 155); */
}
/* enlaces del menu */
#menu ul a{
    display: block;
    color:rgb(255, 255, 255);
    text-decoration:none;
    font-weight: 400;
    font-size:20px;
    padding:10px;
    text-transform:1px;
    letter-spacing:1px;
}
/* items del menu */
#menu ul li{
    position:relative;
    float:left;
    margin:0;
    padding:0;
}
/* efecto al pasar el raton por los items del menu */
#menu ul li:hover{
    background: rgba(84, 85, 87, 0.925);
}
/* menu desplegable */
#menu ul ul{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eeee;
    padding:0;
}
/* items del menu desplegable */
#menu ul ul li{
    float:none;
    width:150px;
}
/* enlaces de los items del menu desplegable */
#menu ul ul a{
    line-height:120%;
    padding:10px 15px;
}
/* items del menu desplegable al pasar el raton */
#menu ul li:hover > ul{
    display:block;
}

p{
    text-align: justify;
    font-size: 20px;
    margin:10px;
    color: azure;
    text-align: center;

}
h1{
    color: #000000;
    text-align: center;
    
}
h2{
    text-align: center;
}

